#sf-notifys{
	position: fixed;
	right: 5px;
	top: 5px;
	z-index: 1000;
}
#sf-notifys>.sf-notify{
	width: 300px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
	outline: none;
	box-sizing: border-box;
	transition: 0.3s;
	user-select: none;
	cursor: pointer;
	white-space: normal;
	word-wrap: break-word;
	margin-bottom: 15px;
	text-align: left;
	padding: 15px;
	font-size: 12pt;
	color: #404040;
	font-family: inherit;
	padding-left: 50px;
	background-color: #FFF;
	background-position: 12.5px center;
	background-repeat: no-repeat;
	background-size: 25px;
	background-image: url(../images/alert-def.svg);
}
#sf-notifys>.sf-notify.ok{
	background-image: url(../images/alert-ok.svg);
	background-color: #AFFBC6;
}
#sf-notifys>.sf-notify.warn{
	background-image: url(../images/alert-warn.svg);
	background-color: #FBF5AF;
}
#sf-notifys>.sf-notify.error{
	background-image: url(../images/alert-err.svg);
	background-color: #FBB6AF;
}
